/*
* Skeleton V1.2
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 6/20/2012
*/

/* Table of Content
==================================================
	#Site Styles
	#Page Styles
	#Media Queries
	#Font-Face */

/* #Site Styles
================================================== */
body {
  background: #54cac9;
}

.container {
  position: relative;
  width: 960px;
  padding: 0;
  margin: 0 auto;
}

.header {
  margin-top: 20px;
  margin-left: 10px;
}
.header h2 {
  float: left;
  margin-right: 10px;
}

.tweets > div {
  float: left;
  height: 75px;
  width: 264px;
  border: #eee 1px solid;
  margin: 10px;
  padding: 5px;
  border-radius: 5px;
}

.author {
  color: gray;
  font-size: 110%;
  float: left;
}

.description {
  color: #fefefe;
}

.time {
  margin-left: 5px;

}

.tweetBox {
  position: fixed;
  background: white;
  width: 500px;
  height: 75%;
  border-radius: 15px;
  top: 0; left: 0; right: 0; bottom: 0;
  margin: auto;
  padding: 25px;
}

.tweetBox .description {
  color: black;
}
/* #Page Styles
================================================== */

/* #Media Queries
================================================== */

	/* Smaller than standard 960 (devices and browsers) */
	@media only screen and (max-width: 959px) {}

	/* Tablet Portrait size to standard 960 (devices and browsers) */
	@media only screen and (min-width: 768px) and (max-width: 959px) {}

	/* All Mobile Sizes (devices and browser) */
	@media only screen and (max-width: 767px) {}

	/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
	@media only screen and (min-width: 480px) and (max-width: 767px) {}

	/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
	@media only screen and (max-width: 479px) {}


/* #Font-Face
================================================== */
/* 	This is the proper syntax for an @font-face file
		Just create a "fonts" folder at the root,
		copy your FontName into code below and remove
		comment brackets */

/*	@font-face {
	    font-family: 'FontName';
	    src: url('../fonts/FontName.eot');
	    src: url('../fonts/FontName.eot?iefix') format('eot'),
	         url('../fonts/FontName.woff') format('woff'),
	         url('../fonts/FontName.ttf') format('truetype'),
	         url('../fonts/FontName.svg#webfontZam02nTh') format('svg');
	    font-weight: normal;
	    font-style: normal; }
*/
